{% extends "dq/base.html" %}
{% load i18n %}
{% block Content %}

<div class="container d-flex flex-wrap body-wrapper bg-white">
<main class="col-lg-9 order-lg-2" role="main" aria-label="Main Content Area">
    <div class="section-nav-area">
        <nav role="navigation" aria-label="Section Nav" class="w-100 sticky-top"></nav>
    </div>

    <div class="row">
        <div class="col content ">
            <div class="syndicate">
                <h1 id="content" class="page-title">Data Quality</h1>
            </div>
            <div class="title-bar">
                <a href="page.4.5.html#print" class="print-link" aria-label="print this page"
                    onclick="window.print()">Print</a>
            </div>
            <div class="syndicate">
                <div class="row ">
                    <div class="col-md-12">
                        <div class="cdc-textblock">
                            <p>Welcome to the Data Quality Dashboard</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row share-row last-reviewed-row">
        <div class="col-md last-reviewed">
            Last Updated: <span id="last-reviewed-date">January 8, 2025</span>
            <div class="d-none d-lg-block content-source">Source:
                <!-- Begin SSI: localContentSource_TP4 - URL: /wcms-inc/localContentSource_TP4.html -->
                <a href="page.4.5.html#" class="td-none">Site Content Source</a>
                <!-- End SSI: localContentSource_TP4 -->
            </div>
        </div>
        <div class="col-md page-share ml-auto">
            <nav id="share-nav" class="page-share-wrapper" role="navigation" aria-label="Social Media">
<ul>
<li><a target="_blank" title="Share to Facebook" rel="noreferrer noopener" class="page-share-facebook metrics-share-facebook" href="https://api.addthis.com/oexchange/0.8/forward/facebook/offer?url=https%3A%2F%2Fwww.cdc.gov%2Findex.htm&title=CDC%20Works%2024/7&description=As%20the%20nation%27s%20health%20protection%20agency,%20CDC%20saves%20lives%20and%20protects%20people%20from%20health,%20safety,%20and%20security%20threats.&via=CDCgov&ct=0&media=https://www.cdc.gov/homepage/images/centers-for-disease-control-and-prevention.png"><span class="sr-only">Facebook</span><span class="fi cdc-icon-fb-round"></span></a></li>
<li><a target="_blank" title="Share to Twitter" rel="noreferrer noopener" class="page-share-twitter metrics-share-twitter" href="https://api.addthis.com/oexchange/0.8/forward/twitter/offer?url=https%3A%2F%2Fwww.cdc.gov%2Findex.htm&title=CDC%20Works%2024/7&description=As%20the%20nation%27s%20health%20protection%20agency,%20CDC%20saves%20lives%20and%20protects%20people%20from%20health,%20safety,%20and%20security%20threats.&via=CDCgov&ct=0&media=https://www.cdc.gov/homepage/images/centers-for-disease-control-and-prevention.png"><span class="sr-only">Twitter</span><span class="fi cdc-icon-twitter-round"></span></a></li>
<li><a target="_blank" title="Share to LinkedIn" rel="noreferrer noopener" class="page-share-linkedin metrics-share-linkedin" href="https://api.addthis.com/oexchange/0.8/forward/linkedin/offer?url=https%3A%2F%2Fwww.cdc.gov%2Findex.htm&title=CDC%20Works%2024/7&description=As%20the%20nation%27s%20health%20protection%20agency,%20CDC%20saves%20lives%20and%20protects%20people%20from%20health,%20safety,%20and%20security%20threats.&via=CDCgov&ct=0&media=https://www.cdc.gov/homepage/images/centers-for-disease-control-and-prevention.png"><span class="sr-only">LinkedIn</span><span class="fi cdc-icon-linkedin-round"></span></a></li>
<li><a target="_blank" title="Embed this Page" rel="noreferrer noopener" class="page-share-syndication metrics-share-syndicate" href="https://tools.cdc.gov/medialibrary/index.aspx#/sharecontent/https%3A%2F%2Fwww.cdc.gov%2Findex.htm"><span class="sr-only">Syndicate</span><span class="fi cdc-icon-syndication-round"></span></a></li>
</ul>
</nav>

        </div>
    </div>
</main>

<div class="col-lg-3 order-lg-1 leftnav-wrapper">
    <nav role="navigation" aria-label="Left Navigation Menu">
        <!-- Begin SSI: localLeftNav_TP4 - URL: /wcms-inc/localLeftNav_TP4.html -->
        <div id="cdc-left-nav-menu" data-menu-id="80">
            <div class="nav-section-home d-sm-block">
                <span class="sr-only">home</span>
                <span class="fi cdc-icon-home nav-home-icon x24" aria-hidden="true"></span>
                <a href="page.4.5.html#">[SITE TITLE]</a>
            </div>
            <ul class="list-group tp-nav-main">
                <li class="list-group-item nav-lvl1"><a href="page.4.5.html#">Page Link</a><a href="page.4.5.html#nav-group-14908"
                        class="nav-expandcollapse nav-plus collapsed" data-toggle="collapse" aria-controls="nav-group-14908"
                        aria-expanded="false"><span class="sr-only">plus icon</span><span class="fi cdc-icon-plus"
                            aria-hidden="true" style="transform: rotate(0deg);"></span></a>
                    <ul id="nav-group-14908" class="collapse" style="">
                        <li class="list-group-item nav-lvl2"><a href="page.4.5.html#">Page Link</a></li>
                        <li class="list-group-item nav-lvl2"><a href="page.4.5.html#">Page Link</a><a href="page.4.5.html#nav-group-834b9"
                                class="nav-expandcollapse nav-plus collapsed" data-toggle="collapse" aria-controls="nav-group-834b9"
                                aria-expanded="false"><span class="sr-only">plus icon</span><span class="fi cdc-icon-plus"
                                    aria-hidden="true" style="transform: rotate(0deg);"></span></a>
                            <ul id="nav-group-834b9" class="collapse" style="">
                                <li class="list-group-item nav-lvl3"><a href="page.4.5.html#">Page Link</a></li>
                            </ul>
                        </li>
                        <li class="list-group-item nav-lvl2"><a href="page.4.5.html#">Page Link</a></li>
                        <li class="list-group-item nav-lvl2"><a href="page.4.5.html#">Page Link</a></li>
                    </ul>
                </li>
                <li class="list-group-item nav-lvl1"><a href="page.4.5.html#">Page Link</a></li>
                <li class="list-group-item nav-lvl1"><a href="page.4.5.html#">Page Link</a></li>
                <li class="list-group-item nav-lvl1"><a href="page.4.5.html#">Page Link</a></li>
            </ul>
        </div><!-- End SSI: localLeftNav_TP4 -->
    </nav>

</div>
</div>
 
{% endblock %}