{% load static %}
<footer class="" role="contentinfo" aria-label="Footer">
    <div class="container-fluid footer-wrapper">
        <div class="container">

             <div class="footer-2022">
<div class="footer-desktop">
    <div class="row">
        <div class="col-6 about">
            <ul class="d-flex">
                <li><a href="https://www.cdc.gov/about/default.htm">About CDC</a></li>
                <li><a href="https://www.cdc.gov/cdc-info/index.html">Contact Us</a></li>
                <li><a href="tel:8002324636">800-232-4636</a></li>
            </ul>
        </div>
        <div class="col-6 social">
            <div class="d-flex flex-nowrap">
                <a href="https://www.facebook.com/CDC" target="_blank" rel="noreferrer noopener"><span class="cdc-icon-facebook-inverse"></span><span class="sr-only">Facebook</span></a>
                <a href="https://twitter.com/CDCgov" target="_blank" rel="noreferrer noopener"><span class="cdc-icon-twitter-inverse"></span><span class="sr-only">Twitter</span></a>
                <a href="https://www.instagram.com/CDCgov/" target="_blank" rel="noreferrer noopener"><span class="cdc-icon-instagram-inverse"></span><span class="sr-only">Instagram</span></a>
                <a href="https://www.linkedin.com/company/centers-for-disease-control-and-prevention" target="_blank" rel="noreferrer noopener"><span class="cdc-icon-linkedin-inverse"></span><span class="sr-only">LinkedIn</span></a>
                <a href="https://www.youtube.com/c/cdc/" target="_blank" rel="noreferrer noopener"><span class="cdc-icon-youtube-inverse"></span><span class="sr-only">Youtube</span></a>
                <a href="https://www.pinterest.com/cdcgov/" target="_blank" rel="noreferrer noopener"><span class="cdc-icon-pinterest-inverse"></span><span class="sr-only">Pinterest</span></a>
                <a href="https://www.snapchat.com/add/cdcgov" target="_blank" rel="noreferrer noopener"><span class="cdc-icon-snapchat-inverse"></span><span class="sr-only">Snapchat</span></a>
            </div>
        </div>
    </div>
</div>
<div class="footer-mobile" aria-label="Footer" role="contentinfo">
    <ul class="accordion indicator-arrow mb-3" role="tablist" aria-busy="true">
        <li class="card footer-mobile_contact" role="presentation">
            <button role="tab" class="card-header tab collapsed" data-target="#footer-mobile-collapse-1" data-toggle="collapse"  aria-expanded="false" id="footer-mobile-card-1" >CONTACT CDC</button>
            <div class="collapse" id="footer-mobile-collapse-1" role="tabpanel" aria-hidden="true">
                <div class="card-body">
                    <address itemscope="itemscope" itemtype="https://schema.org/Organization">
                        <div class="row mt-2">
                            <div class="col-1">
                                <span aria-hidden="true" class="fi cdc-icon-desktop x24"></span>
                            </div>
                            <div class="col">
                                <span class="pl-1"><a href="https://www.cdc.gov/cdc-info/index.html">Contact Us</a></span>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-1">
                                <span class="fi cdc-icon-phone x24"></span>
                            </div>
                            <div class="col">
                                <span class="pl-1" itemprop="telephone">Call 800-232-4636</span>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-1">
                                <span class="fi cdc-icon-email x24"></span>
                            </div>
                            <div class="col">
                                <span class="pl-1" itemprop="url"><a href="https://www.cdc.gov/cdc-info/index.html">Email Us</a></span>
                            </div>
                        </div>
                    </address>
                </div>
            </div>
        </li>
        <li class="card footer-mobile_about" role="presentation">
            <button role="tab" class="card-header tab collapsed " data-target="#footer-mobile-collapse-2" data-toggle="collapse"  aria-expanded="false" id="footer-mobile-card-2" >ABOUT CDC</button>
            <div class="collapse" id="footer-mobile-collapse-2" role="tabpanel"  aria-hidden="true">
                <div class="card-body">
                    <ul>
                        <li><a href="https://www.cdc.gov/about/default.htm">About CDC</a></li>
                        <li><a href="https://jobs.cdc.gov">Jobs</a></li>
                        <li><a href="https://www.cdc.gov/funding">Funding</a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="card footer-mobile_policies" role="presentation">
            <button role="tab" class="card-header tab collapsed " data-target="#footer-mobile-collapse-3" data-toggle="collapse"  aria-expanded="false" id="footer-mobile-card-3">POLICIES</button>
            <div class="collapse" id="footer-mobile-collapse-3" role="tabpanel"  aria-hidden="true">
                <div class="card-body">
                    <ul>
                        <li><a href="https://www.cdc.gov/other/accessibility.html">Accessibility</a></li>
                        <li><a href="https://www.cdc.gov/Other/disclaimer.html">External Links</a></li>
                        <li><a href="https://www.cdc.gov/other/privacy.html">Privacy</a></li>
                        <li><a href="https://www.cdc.gov/Other/policies.html">Policies</a></li>
                        <li><a href="https://www.cdc.gov/oeeowe/no-fear-act/">No Fear Act</a></li>
                        <li><a href="https://www.cdc.gov/od/foia">FOIA</a></li>
                        <li><a href="https://oig.hhs.gov">OIG</a></li>
                        <li><a href="https://www.cdc.gov/other/nondiscrimination.html">Nondiscrimination</a></li>
                        <li><a href="https://www.hhs.gov/vulnerability-disclosure-policy/index.html">Vulnerability Disclosure Policy</a></li>
                        <li><a href="https://stacks.cdc.gov/ ">Public Health Publications</a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="card footer-mobile_connect" role="presentation">
            <button role="tab" class="card-header tab collapsed " data-target="#footer-mobile-collapse-4" data-toggle="collapse"  aria-expanded="false" id="footer-mobile-card-4">CONNECT WITH US</button>
            <div class="collapse" id="footer-mobile-collapse-4" role="tabpanel" aria-hidden="true">
                <div class="card-body">
                    <ul class="bullet-list cc-4 lsp-out row">
                        <div class="col-12">
                            <li><a href="https://www.facebook.com/CDC" target="_blank" rel="noreferrer noopener"><span class="sr-only">Facebook</span><span class="fi cdc-icon-fb-white x24" aria-hidden="true"></span></a></li>
                            <li><a href="https://twitter.com/CDCgov" target="_blank" rel="noreferrer noopener"><span class="sr-only">Twitter</span><span class="fi cdc-icon-twitter-white x24" aria-hidden="true"></span></a></li>
                            <li><a href="https://www.instagram.com/CDCgov/" target="_blank" rel="noreferrer noopener"><span class="sr-only">Instagram</span><span class="fi cdc-icon-ig-white x24" aria-hidden="true"></span></a></li>
                            <li><a href="https://www.linkedin.com/company/centers-for-disease-control-and-prevention" target="_blank" rel="noreferrer noopener"><span class="sr-only">LinkedIn</span><span class="fi cdc-icon-linkedin-white x24" aria-hidden="true"></span></a></li>
                        </div>
                        <div class="col-12">
                            <li><a href="https://www.youtube.com/c/cdc/" target="_blank" rel="noreferrer noopener"><span class="sr-only">Youtube</span><span class="fi cdc-icon-youtube-white x24" aria-hidden="true"></span></a></li>
                            <li><a href="https://www.pinterest.com/cdcgov/" target="_blank" rel="noreferrer noopener"><span class="sr-only">Pinterest</span><span class="fi cdc-icon-pinterest-white x24" aria-hidden="true"></span></a></li>
                            <li><a href="https://www.snapchat.com/add/cdcgov" target="_blank" rel="noreferrer noopener"><span class="sr-only">Snapchat</span><span class="fi cdc-icon-snapchat x24" aria-hidden="true"></span></a></li>
                            <li><a href="https://wwwn.cdc.gov/dcs/RequestForm.aspx"><span class="sr-only">Email</span><span class="fi cdc-icon-email x24" aria-hidden="true"></span></a></li>
                        </div>
                    </ul>
                </div>
            </div>
        </li>
        <li class="card footer-mobile_language" role="presentation">
            <button role="tab" class="card-header tab collapsed " data-target="#footer-mobile-collapse-5" data-toggle="collapse"  aria-expanded="false" id="footer-mobile-card-5">LANGUAGES</button>
            <div class="collapse" id="footer-mobile-collapse-5" role="tabpanel" aria-hidden="true">
                <div class="card-body">
                    <ul class="bullet-list cc-2 lsp-out">
                        <li lang="es"><a href="https://www.cdc.gov/other/language-assistance.html#Spanish" title="Spanish">Español</a></li>
                        <li lang="zh"><a href="https://www.cdc.gov/other/language-assistance.html#Chinese" title="Chinese">繁體中文</a></li>
                        <li lang="vi"><a href="https://www.cdc.gov/other/language-assistance.html#Vietnamese" title="Vietnamese">Tiếng Việt</a></li>
                        <li lang="ko"><a href="https://www.cdc.gov/other/language-assistance.html#Korean" title="Korean">한국어</a></li>
                        <li lang="tl"><a href="https://www.cdc.gov/other/language-assistance.html#Tagalog" title="Tagalog">Tagalog</a></li>
                        <li lang="ru"><a href="https://www.cdc.gov/other/language-assistance.html#Russian" title="Russian">Русский</a></li>
                        <li lang="ar"><a href="https://www.cdc.gov/other/language-assistance.html#Arabic" title="Arabic">العربية</a></li>
                        <li lang="ht"><a href="https://www.cdc.gov/other/language-assistance.html#Haitian" title="Haitian">Kreyòl Ayisyen</a></li>
                        <li lang="fr"><a href="https://www.cdc.gov/other/language-assistance.html#French" title="French">Français</a></li>
                        <li lang="pl"><a href="https://www.cdc.gov/other/language-assistance.html#Polish" title="Polish">Polski</a></li>
                        <li lang="pt"><a href="https://www.cdc.gov/other/language-assistance.html#Portuguese" title="Portuguese">Português</a></li>
                        <li lang="it"><a href="https://www.cdc.gov/other/language-assistance.html#Italian" title="Italian">Italiano</a></li>
                        <li lang="de"><a href="https://www.cdc.gov/other/language-assistance.html#German" title="German">Deutsch</a></li>
                        <li lang="ja"><a href="https://www.cdc.gov/other/language-assistance.html#Japanese" title="Japanese">日本語</a></li>
                        <li lang="fa"><a href="https://www.cdc.gov/other/language-assistance.html#Farsi" title="Farsi">فارسی</a></li>
                        <li lang="en"><a href="https://www.cdc.gov/other/language-assistance.html#English" title="English">English</a></li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
</div>
</div>

        </div>
    </div>
    <div class="container-fluid agency-footer">
        <div class="container">
            <div class="footer-2022 footer-agency row">
<div class="col">
    <ul>
        <li><a href="https://www.hhs.gov/">U.S. Department of Health &amp; Human Services</a></li>
        <li class="d-none d-md-block"><a href="https://www.cdc.gov/other/accessibility.html">Accessibility</a></li>
        <li class="d-none d-md-block"><a href="https://www.cdc.gov/Other/disclaimer.html">External Links</a></li>
        <li class="d-none d-md-block"><a href="https://www.cdc.gov/other/privacy.html">Privacy</a></li>
        <li class="d-none d-md-block"><a href="https://www.cdc.gov/Other/policies.html">Policies</a></li>
        <li class="d-none d-md-block"><a href="https://www.cdc.gov/oeeowe/no-fear-act/">No Fear Act</a></li>
        <li class="d-none d-md-block"><a href="https://www.cdc.gov/od/foia">FOIA</a></li>
        <li class="d-none d-md-block"><a href="https://www.cdc.gov/other/nondiscrimination.html">Nondiscrimination</a></li>
        <li class="d-none d-md-block"><a href="https://oig.hhs.gov">OIG</a></li>
        <li class="d-none d-md-block"><a href="https://www.hhs.gov/vulnerability-disclosure-policy/index.html">Vulnerability Disclosure Policy</a></li>
        <li class="d-none d-md-block"><a href="https://stacks.cdc.gov/ ">Public Health Publications</a></li>
        <li><a href="https://www.usa.gov/">USA.gov</a></li>
    </ul>
</div>
</div>


        </div>
    </div>
</footer>

<!-- social media footer removed -->
<script src="{% static 'dq/TemplatePackage/contrib/libs/jquery/latest/jquery.js' %}"></script>
<script src="{% static 'dq/TemplatePackage/contrib/libs/bootstrap/latest/js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'dq/TemplatePackage/contrib/libs/axe/latest/axe.min.js' %}"></script>
<script src="{% static 'dq/TemplatePackage/contrib/libs/prism/latest/prism.min.js' %}"></script>
<!-- @typeaheadjs@ -->
<script src="{% static 'dq/TemplatePackage/contrib/libs/cdc/ab/4.0.0/ab.js' %}"></script>
<script src="{% static 'dq/TemplatePackage/4.0/assets/js/app.js' %}"></script>

<script src="{% static 'dq/TemplatePackage/contrib/apps/pagetools.js' %}"></script>


</script>