<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            body{
            background-color: transparent;
            }
            /* Header/Logo Title */
            .header {
            padding: 60px;
            text-align: left;
            background: #1B75BC;
            color: white;
            font-size: 16px;
            }
            
        </style>

    </head>
    <body> 
        <div class="header">
            <p>CDC Meta</p>
          </div>
          <br></br>
            {% block Content %}
            {% if template %}{% include template %}{% endif %}
            {{ content|safe }}
            {% endblock %}
    </body>
</html>
