{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />
    <title>Public Health Data Utilities</title>
    <meta name="description" content="An informative collection of links to APIs, data sets, and endpoints that are relevant to efficient health information exchange." />

    <!-- Pico.css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2.0.3/css/pico.min.css"
    />
  </head>

  <body>
    <!-- Header -->

    <header class="container">

      <nav>

          <ul>
              <li><h1><strong>Public Health Data Utilities</strong></h1></li>
            </ul>

          <ul>
            
              <details class="dropdown">
              <summary role="button" class="secondary">Theme</summary>
              <ul>
                <li><a href="#" data-theme-switcher="auto">Auto</a></li>
                <li><a href="#" data-theme-switcher="light">Light</a></li>
                <li><a href="#" data-theme-switcher="dark">Dark</a></li>
              </ul>
            </details>
          </li>
        </ul>
      </nav>

    </header>
    <!-- ./ Header -->

    <!-- Main -->
    <main class="container">


      
      <!-- Article-->
      <article id="article">
        <h2>USCDI+ Cheat Sheets</h2>
        <p>
          These CSV files or JSON objects contain information about USCDI+ as part of the 
          the "Public Health" Domain. This is a proof of concept. Some information might 
          be missing, outdated, or incorrect.
        </p>
      </p>
          <ul>
          <li>Data Elements: <a href="{% url 'report_meta:public_type_csv_module' 'DataElementType' 'uscdi' %}" >CSV</a> | 
            <a href="{% url 'report_meta:public_type_json_module' 'DataElementType' 'uscdi' %}" >JSON</a></li>
          
            <li>Data Classes: <a href="{% url 'report_meta:public_type_csv_module' 'DataClassType' 'uscdi' %}" >CSV</a> | 
            <a href="{% url 'report_meta:public_type_json_module' 'DataClassType' 'uscdi' %}" >JSON</a></li>
          
            <li>Use Cases: <a href="{% url 'report_meta:public_type_csv_module' 'UseCaseType' 'uscdi' %}" >CSV</a> | 
            <a href="{% url 'report_meta:public_type_json_module' 'UseCaseType' 'uscdi' %}" >JSON</a></li>
          
            <li>Domains: <a href="{% url 'report_meta:public_type_csv_module' 'DomainType' 'uscdi' %}" >CSV</a> | 
            <a href="{% url 'report_meta:public_type_json_module' 'DomainType'  'uscdi' %}" >JSON</a></li>
          </ul>
       
        </p>
      </article>
      <!-- ./ Article-->

      
    </main>
    <!-- ./ Main -->

    <!-- Footer -->
    <footer class="container">
      <p>
         {% now "Y" %}. Public Health Data Utilities
      </p>
    </footer>
    <!-- ./ Footer -->


    <!-- ./ Modal example -->

    <!-- Minimal theme switcher -->
    <script src="{% static 'report_metadata/js/minimal-theme-switcher.js' %}"></script>

    <!-- Modal -->
    <script src="{% static 'report_metadata/js/modal.js' %}"></script>
  </body>
</html>
