<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />
    <title>CDC Front Door</title>
    <meta name="description" content="Frontdoor is a new and straightforward way to submit data to the CDC."/>

  </head>

  <body>
    Hello, CDC Front Door!
    <p>Frontdoor is a new and straightforward way to submit data to the CDC.
      Refer to the "CDC Submission Specification" for details.<p/>

      <p>This site hosts an Web-based API for uploading data to CDC.
      Supported formats are HL7V2, FHIR, and CDA.  Alternativly, you may also submit data via this mechanism, 
       by uploading files to AWS S3 Buckets.
      
    </p>
    <!-- Header -->
    {% block Content %}
    {% if template %}{% include template %}{% endif %}
    {{ content|safe }}
    {% endblock %}


</html>
