<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />
    <title>Facade</title>
    <meta name="description" content="Facade is a front door for CDC data input."/>

  </head>

  <body>
    Hello, Facade!
    <!-- Header -->
    {% block Content %}
    {% if template %}{% include template %}{% endif %}
    {{ content|safe }}
    {% endblock %}


</html>
