{% load static %}
<div id="skipmenu">
    <a class="skippy sr-only-focusable" href="#content">Skip directly to site content</a>
    <a class="skippy sr-only-focusable" href="#headerSearch">Skip directly to search</a>
</div>

<div class="cdc-header-official-notice container noindex">
<div class="cdc-header-official-notice-header d-flex">
    <img src="{% static 'dq/TemplatePackage/4.0/assets/imgs/uswds/us_flag_small.png' %}" width="16" height="11" alt="U.S. flag" />
    <small class="ml-2">An official website of the United States government <button class="cdc-header-official-notice-header-btn">Here's how you know <span class="cdc-header-official-notice-header-icon x12 fill-p cdc-icon-arrow-down"></span></button></small>
</div>

<div class="cdc-header-official-notice-body row" style="display: none;">
    <figure class="col-lg-6 d-flex">
        <img class="cdc-header-official-notice-body-img" src="{% static 'dq/TemplatePackage/4.0/assets/imgs/uswds/icon-dot-gov.svg' %}" alt="Official icon" aria-hidden="true" />
        <figcaption class="cdc-header-official-notice-body-info ml-3">
            <p class="cdc-header-official-notice-body-title mb-1"><strong>Official websites use .gov</strong></p>
            <p>A .gov website belongs to an official government organization in the United States.</p>
        </figcaption>
    </figure>
    <figure class="col-lg-6 d-flex">
        <img class="cdc-header-official-notice-body-img" src="{% static 'dq/TemplatePackage/4.0/assets/imgs/uswds/icon-https.svg' %}" alt="Lock icon" aria-hidden="true" />
        <figcaption class="cdc-header-official-notice-body-info ml-3">
            <p class="cdc-header-official-notice-body-title mb-1"><strong>Secure .gov websites use HTTPS</strong></p>
            <p>A lock ( <span class="x16 fill-black cdc-icon-lock-alt-solid"></span> ) or https:// means you've safely connected to the .gov website. Share sensitive information only on official, secure websites.</p>
        </figcaption>
    </figure>
</div>
</div>
<header id="page_banner" role="banner" aria-label="Banner">
    <div class="container-fluid header-wrapper">
        <div class="container">
            <div class="row py-2">
                <div class="col cdc-logo">
                    <a href="https://www.cdc.gov/">
<span class="sr-only">Centers for Disease Control and Prevention. CDC twenty four seven. Saving Lives, Protecting People</span>
<img src="{% static 'dq/TemplatePackage/4.0/assets/imgs/logo/logo-notext.svg' %}" alt="CDC Logo" class="cdc-logo--desktop">
<img src="{% static 'dq/TemplatePackage/4.0/assets/imgs/logo/logo-notext.svg' %}" alt="CDC Logo" class="cdc-logo--mobile">
</a>

                </div>
                <div class="col-2 col-md-3 col-xl-5 col-xxl-4 tp-search">
                    <div class="headerSearch cdc-header-search">
<form accept-charset="UTF-8" action="https://search.cdc.gov/search/" class="cdc-header-search-form" method="get" autocomplete="off">

    <!-- fallback mobile search -->
    <button class="btn btn-primary dropdown-toggle no-toggle search-button ssi d-xl-none"
            type="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="search"><span>Search</span>
        <i class="fi cdc-icon-magnify dropdown-menu-medium-search-icon x24" aria-hidden="true"></i>
        <i class="fi cdc-icon-close dropdown-menu-medium-close-icon x24" aria-hidden="true"></i>
    </button>

    <div class="dropdown-menu dropdown-menu-right dropdown-menu-search dropdown-menu-medium-search">
        <div class="input-group">
            <input id="headerSearch" type="text" class="form-control" maxlength="300" placeholder="Search" aria-label="Search" name="query">
            <span class="form-control-clear cdc-icon-close"></span>
            <div class="input-group-append">
                <button class="btn search-submit" type="button">
                    <span class="sr-only">Submit</span>
                    <i class="fi cdc-icon-magnify x24 search-submit" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
    <input type="hidden" name="affiliate" value="cdc-main">
</form>
</div>


                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid site-title">
        <div class="container">
            <!-- Begin SSI: localSiteTitleBar_TP4 - URL: /wcms-inc/localSiteTitleBar_TP4.html -->
            <div class="row">
                <div class="col">
                    <div class="display-6 text-white fw-500 pt-1 pb-1 site-title-inner">
                        <a href="#">[SITE TITLE]</a>
                    </div>
                </div>
            </div>
            <!-- End SSI: localSiteTitleBar_TP4 -->
        </div>
    </div>
    <nav role="navigation" aria-label="Mobile Nav" id="mobilenav" class="sticky-top">
    </nav>

    <!-- Global Above Feature -->

    <div class="container-fluid feature-area">
        <div class="container"></div>
    </div>

    <div class="container-fluid site-title">
        <div class="container">
            <!-- Begin SSI: localSiteTitleBar_TP4 - URL: /wcms-inc/localSiteTitleBar_TP4.html -->
            <div class="row">
                <div class="col">
                    <div class="display-6 text-white fw-500 pt-1 pb-1 site-title-inner">
                        <a href="page.4.5.html#">[SITE TITLE]</a>
                    </div>
                </div>
            </div>
            <!-- End SSI: localSiteTitleBar_TP4 -->
        </div>
    </div>
    <nav role="navigation" aria-label="Mobile Nav" id="mobilenav" class="sticky-top">
    </nav>
    
    
    </header>