{% load i18n %}
{% load static %}
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport" />
<meta name="mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="theme-color" content="#075290">

<link rel="apple-touch-icon" sizes="180x180" href="{% static 'dq/TemplatePackage/4.0/assets/imgs/favicon/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'dq/TemplatePackage/4.0/assets/imgs/favicon/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'dq/TemplatePackage/4.0/assets/imgs/favicon/favicon-16x16.png' %}">
<link rel="mask-icon" href="{% static 'dq/TemplatePackage/4.0/assets/imgs/favicon/safari-pinned-tab.svg' %}" color="#0056b3">
<meta name="msapplication-TileColor" content="#0056b3">
<meta name="theme-color" content="#0056b3">

<link rel="stylesheet prefetch" href="{% static 'dq/TemplatePackage/contrib/libs/bootstrap/latest/css/bootstrap.css' %}" />
<link rel="stylesheet prefetch" href="{% static 'dq/TemplatePackage/4.0/assets/css/app.tp5.css' %}"  />
<link rel="stylesheet" media="print" href="{% static 'dq/TemplatePackage/4.0/assets/css/print.css' %}"  />

<link rel="stylesheet" href="{% static 'dq/TemplatePackage/contrib/libs/prism/latest/prism.min.css' %}"  />
<script src="https://assets.adobedtm.com/b36c1852e229/2c674008a127/launch-bdac63abfca9-development.min.js" async></script>

	<title>1CDP - Data Quality Dashboard</title>
	<meta name="robots" content="noindex, nofollow" />

	<meta property="cdc:template_version" content="4.0" />

