{% load static %}
<script src="{% static 'dq/TemplatePackage/contrib/libs/jquery/latest/jquery.js' %}"></script>
<script src="{% static 'dq/TemplatePackage/contrib/libs/bootstrap/latest/js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'dq/TemplatePackage/contrib/libs/axe/latest/axe.min.js' %}"></script>
<script src="{% static 'dq/TemplatePackage/contrib/libs/prism/latest/prism.min.js' %}"></script>
<!-- @typeaheadjs@ -->
 
<script src="{% static 'dq/TemplatePackage/contrib/libs/cdc/ab/4.0.0/ab.js' %}"></script>
<script src="{% static 'dq/TemplatePackage/4.0/assets/js/app.js' %}"></script>

<script src="{% static 'dq/TemplatePackage/contrib/apps/pagetools.js' %}"></script>


<script>
	window.shortTitle = "1CDP Data Quality";
	window.pageOptions = window.pageOptions || {};
	window.pageOptions.navigation = window.pageOptions.navigation || { fourthLevelCollapsed: false, showFourthLevel: true };</script>
<script>window.pageOptions.navigation.breadcrumbs = { mode: 'auto', showCurrentPage: false }; </script>
<script>window.CDC.tp4.public.appInit(window.pageOptions);</script>